<%= form_for([@post, @post.comments.build]) do |f| %>
  <p>
    <%= f.label "Mouse name" %><br />
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label "says..." %><br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>